<!DOCTYPE html>
<html>
  <head>
    <title>W4D4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="body">
    <header>
      <h1>Hive</h1>
    </header>

    <%if logged_in?%>
      <h2> Welcome <%= current_user.email %></h1>
      <form class="button" action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= auth_token %>
        <input type="submit" value="Log Out">
      </form>
    <%else%>
      <form class="button" action="<%= new_session_url %>" method="get">

        <input type="submit" value="Log In">
      </form>

      <form class="button" action="<%= new_user_url %>" method="get">

        <input type="submit" value="Sign Up">
      </form>
    <%end%>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
